<!-- From Uiverse.io by andrew-demchenk0 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="wrapper">
  <div class="card-switch">
    <label class="switch">
      <input type="checkbox" class="toggle">
      <span class="slider"></span>
      <span class="card-side"></span>
      <div class="flip-card__inner">
        <div class="flip-card__front">
          <div class="title">Log in</div>
          <form class="flip-card__form" action="/login" method="POST">
            <input class="flip-card__input" name="email" placeholder="Email" type="email" required>
            <input class="flip-card__input" name="password" placeholder="Password" type="password" required>
            <button class="flip-card__btn" type="submit">Let`s go!</button>
          </form>
        </div>
        <div class="flip-card__back">
          <div class="title">Sign up</div>
          <form class="flip-card__form" action="/register" method="POST">
            <input class="flip-card__input" name="name" placeholder="Name" type="text" required>
            <input class="flip-card__input" name="email" placeholder="Email" type="email" required>
            <input class="flip-card__input" name="password" placeholder="Password" type="password" required>
            <button class="flip-card__btn" type="submit">Confirm!</button>
          </form>
        </div>
      </div>
    </label>
  </div>
</div>
</body>
</html>